<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
	<Properties>
		<Property name="api_log">${sys:catalina.base}/logs/naber_test</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss zzz} [%p|%t|%c|%M:%L|u:] %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${api_log}/naber-ap.log"
			filePattern="${api_log}/naber-ap-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{ISO8601}[%p|%t|%c|%M:%L|u:] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="com.melonltd.naber" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>